@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* * */
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

@font-face {
  font-family: heebo;
  src: url(https://cdn.discordapp.com/attachments/548137697382760460/589533986682961979/Heebo-Regular.ttf);
}

/* Root */
:root {
  --white: #ffffff;
  --aqua: #00C1D4;
  --grey: #1F1F1F;
}

/* Html,body */
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: heebo;
  font-weight: 600;
  color: var(--white);
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1rem;
}

.scoreboard {
  min-width: 17vw;
  min-height: 22vh;
  max-height: 28vh;
  max-width: 25vw;
  background-color: rgb(0, 0, 0, 0.6);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  display: none;
}

.BigTitle {
  position: absolute;
  font-size: 0.8rem;
  padding: 15px 1rem;
  right: 4.2vw;
  top: 36.5vh;
  font-family: heebo;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  bottom: 60%;
}

.title {
  font-size: 1.2rem;
  padding: 3px 1rem;
  font-family: heebo;
  border-radius: 5px;
  margin-top: 10%;
  margin-left: -65%;
  font-weight: 400;
}

.fraction-list {
  margin-top: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.fraction {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-family: heebo;
  margin-left: -15%;
  opacity: 0.7;
}

.fraction-name {
  display: flex;
  align-items: center;
}

.fraction-check {
  display: flex;
  align-items: center;
}

.fa-check {
  color: #3ad64f;
  font-size: 13px;
}

.fa-times {
  color: #d05959;
}

.online {
  position: absolute;
  font-size: 0.8rem;
  padding: 3px 1rem;
  right: 1vw;
  top: 38vh;
  font-family: heebo;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  bottom: 60%;
}

.discord {
  position: absolute;
  font-size: 0.7rem;
  padding: 3px 1rem;
  right: 2.5vw;
  top: 41vh;
  opacity: 0.6;
  font-family: heebo;
  text-align: center;
  border-radius: 5px;
  font-weight: 400;
  bottom: 60%;
}

span img {
  margin-top: -20%;
  margin-left: -150%;
  width: 50px;
  height: 50px;
}

#players {
  position: absolute;
  font-size: 16px;
  padding: 3px 1rem;
  right: 1.6vw;
  top: -0.2vh;
  font-family: heebo;
  border-radius: 5px;
  font-weight: 400;
  bottom: 60%;
}

/*4a6dcf*/